@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: Inter;
    height: 100vh;
}

body.non-scrollable {
    overflow-y: hidden;
}

#root {
    height: 100%;
    width: 100%;
}

.slide-in {
    right: 0;
    transition: right .3s ease-out;
}

.slide-out {
    right: -100;
    transition: right .3s ease-out;
}


@keyframes wave {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(14deg);
    }
    20% {
      transform: rotate(-8deg);
    }
    30% {
      transform: rotate(14deg);
    }
    40% {
      transform: rotate(-4deg);
    }
    50% {
      transform: rotate(10deg);
    }
    60% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  
  .waving-hand {
    display: inline-block;
    animation: wave 2.5s 3;
    transform-origin: 70% 70%;
  }

  @keyframes magnify-pulse {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
  }
  
  .magnifying-glass {
    display: inline-block;
    animation: magnify-pulse 2s ease-in-out 3;
  }




  :root {
    --scrollbar-track-color: #f1f1f1;
    --scrollbar-thumb-color: #888;
    --scrollbar-thumb-hover-color: #555;
  }
  
  /* Theme-specific variables */
  .light {
    --scrollbar-track-color: #f1f1f1;
    --scrollbar-thumb-color: #888;
    --scrollbar-thumb-hover-color: #555;
  }
  
  .dark {
    --scrollbar-track-color: #333;
    --scrollbar-thumb-color: #666;
    --scrollbar-thumb-hover-color: #888;
  }
  
  /* Webkit browsers (Chrome, Safari, newer versions of Edge) */
  ::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-track {
    background: var(--scrollbar-track-color);
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-color);
    border-radius: 6px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover-color);
  }
  
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
  }